.book_list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin: 10px;
}

@media screen and (min-width: 900px) {
    .book_list {
        grid-template-columns: 1fr  1fr 1fr 1fr;
    }
}

@media screen and (min-width: 665px) and (max-width: 900px) {
    .book_list {
        grid-template-columns: 1fr  1fr 1fr;
    }
}

@media screen and (min-width: 409px) and (max-width: 665px) {
    .book_list {
        grid-template-columns: 1fr 1fr;
    }
}