.navbar {
    overflow: scroll;
    height: 50px;
    background-color: rgb(235, 235, 235);
    border-bottom: 1px solid rgba(250, 250, 250, 0.9);
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 30px;
}

.navbar_links_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.navbar_link {
    padding: 0 16px;
    text-decoration: none;
    color: black;
}


.navbar_link svg {
    display: block;
}

.navbar_link:hover {
    color: grey;
}