.book_item {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 8px;
}

.book_name {
    font-weight: bold;
    font-size: 16px;
}

.book_author {
    font-style: italic;
    color: grey;
    font-size: 14px;
    padding-top: 5px;
}

.book_date {
    color: grey;
    font-size: 14px;
    padding-top: 10px;
}
