html, body {
    /*height: 100%;*/
    background-color: rgb(240, 240, 240);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 100vw;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.books {
    padding: 20px;
}

.user_account {
    padding: 20px;
}
